<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap "[ngClass]="{snapped: snapButton === SNAP_BUTTON_TRUE}">
    <a routerLink="/facesnaps">Back</a>
    <h2>{{faceSnap.title | uppercase}}</h2>
    <p>{{faceSnap.description | titlecase}}</p>
    <p>Mis en ligne à {{faceSnap.createdDate | date: 'HH:mm, le d MMMM yyyy'}}</p>
    <p>
        <button (click)="onSnap(faceSnap.id)">{{snapButton}}</button>
        <span>{{faceSnap.snaps}}</span> ❤️
    </p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>
</div>